---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		Nayla Salzmann is an Argentine singer-songwriter, guitarist,
		and producer of alternative rock based in Europe.
		Currently preparing to release her debut studio album
		Home Anymore this September, she blends timeless
		melodies with analog textures and introspective
		songwriting - where deep personal experiences often lie
		hidden behind subtle metaphor and poetic confessions.
		Using vintage instruments and real musicians, she captures
		a classic sound with a modern twist. The record is rooted in
		the desire to create music that feels timeless, authentic,
		deeply emotional, and melodically driven.
	</p>

	<p>
		Entirely self-funded through her work as a software
		engineer, Nayla financed the album independently -
		covering studio time, production, and bringing together a
		full band of collaborators. Her journey began as a self-
		taught teen writing and recording songs in her bedroom. In
		2023, she moved to Buenos Aires to begin work on Home
		Anymore, a deeply personal record written entirely by
		Nayla.
	</p>

	<p>
		Ahead of the album, she released two singles: You Don’t
		Wanna Go Home, a fan favorite that continues to gain
		traction on Spotify, and Funny Pills, the final preview
		before the full release. She also shared two EPs - Never
		Meant and If I Die - that reflect the emotional range and
		sonic identity of her upcoming debut.
	</p>

	<p>
		Says Nayla: “I dream of making an extensive series of
		meaningful, human-made albums - mostly analog - where
		authenticity and spontaneity come before perfection.”
	</p>

	<p>
		Now based in Madrid, she has formed a band and
		recently played her first live show - a sold-out night at
		the iconic Sala Maravillas, met with an enthusiastic
		and engaged crowd. As her audience continues to
		grow, both online and on stage, Nayla invites listeners
		into her world of honest songwriting and emotionally
		charged, high-energy performances.
	</p>
</Layout>
