---
import { Image } from 'astro:assets';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import HomeAnymoreImage from '../assets/home-anymore.jpg';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.container img {
				max-height: 700px;
				object-fit: cover;
				object-position: 50% 70%;
			}

			.container {
				position: relative;
				text-align: center;
			}

			.title {
				position: absolute;
				top: 30%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: white;
				display: inline-block;
				width: 100%;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<div class="container">
				<h3 class="title">Debut album "Home Anymore"</h3>
				{HomeAnymoreImage && <Image src={HomeAnymoreImage} alt="Home Anymore album cover" />}
			</div>
		</main>
		<Footer />
	</body>
</html>
